.activity_info {
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 0px 0px;
}
.activity_info .order_text {
  font-size: 2rem;
  font-family: var(--roboto-font);
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 10px solid var(--main-color);
  display: inline;
}
