.checkout {
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}
.checkout .checkout_container {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.checkout .checkout_container .items {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.checkout .checkout_container .items span {
  color: rgb(70, 0, 0);
  font-weight: bolder;
  font-size: 1.4rem;
}
.checkout .checkout_container .amount {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.checkout .checkout_container .amount span {
  color: rgb(70, 0, 0);
  font-size: 1.3rem;
}
.checkout .checkout_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.checkout .checkout_container form .address {
  margin-bottom: 5px;
  height: 40px;
  width: 100%;
  position: relative;
}

.checkout .checkout_container form .address .address_input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  top: 0;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
}
.checkout .checkout_container form .phone {
  margin-bottom: 5px;
  height: 40px;
  width: 100%;
  position: relative;
}

.checkout .checkout_container form .phone .phone_input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  top: 0;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
}
.checkout .checkout_container form .checkout_submit {
  width: 100%;
  height: 40px;
  font-weight: bold;
  background: var(--main-color);
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.5s;
}
.checkout .checkout_container form .checkout_submit:hover {
  background: var(--main-hover-color);
}

.paymentmodal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.paymentmodal > .paypal {
  width: 50%;
  display: block;
  margin: auto;
  background-color: #fff;
  padding: 10px;
}
.paymentmodal span {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #ddd;
}
