.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  bottom: 0;
}
.footer .footer_text {
  color: var(--secondary-text-color);
  font-size: 1rem;
  user-select: none;
  font-family: var(--roboto-font);
}
