.footer_banner {
  height: 400px;
  width: 100%;
  background: linear-gradient(to top, var(--main-color), white);
  position: relative;
}
.footer_banner .footer_banner_image {
  width: 50%;
  height: 100%;
  margin: auto;
  display: block;
  opacity: 0.8;
}
@media only screen and (max-width: 980px) {
  .footer_banner .footer_banner_image {
    width: 80%;
  }
}
