.register {
  width: 60%;
  background-color: white;
  display: block;
  margin: auto;
  margin-top: 2rem;
  height: 80vh;
}
.register form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}
.register form h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  color: rgb(36, 36, 36);
}
.register form .input_name {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.register form .input_name input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}
.register form .input_email {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.register form .input_email input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}
.register form .input_password {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.register form .input_password input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}
.register form .input_cpassword {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
.register form .input_cpassword input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}
.register form .btn_submit {
  margin-top: 10px;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--main-color);
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.register form .btn_submit:hover {
  background-color: var(--main-hover-color);
}
.register form .login_text {
  margin-top: 10px;
}
@media only screen and (max-width: 740px) {
  .register {
    width: 90%;
  }
  .register form h1 {
    font-size: 1rem;
  }
}
