.product_reviews {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.product_reviews .submit_review_box {
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.product_reviews .submit_review_box img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.product_reviews .submit_review_box .submit_text {
  font-weight: bold;
  font-size: 0.9rem;
}

.product_reviews .reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.product_reviews .reviews .review_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: var(--secondary-text-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 5px;
}
.product_reviews .reviews .review_box .name {
  font-size: 0.95rem;
  font-weight: bold;
  color: rgb(43, 43, 43);
}
.product_reviews .reviews .review_box .name span {
  font-size: 0.8rem;
  font-weight: bolder;
  color: black;
}
.product_reviews .reviews .review_box .review_text {
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
}
.product_reviews .review_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.product_reviews .review_modal form {
  width: 50%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product_reviews .review_modal form .rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin-bottom: 10px;
}
.product_reviews .review_modal form .rating label {
  font-weight: bolder;
  color: black;
}
.product_reviews .review_modal form .text {
  width: 90%;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative;
}
.product_reviews .review_modal form .text textarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 5px;
  font-size: 0.9rem;
}
.product_reviews .review_modal form .review_action_button {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.product_reviews .review_modal form .review_action_button button {
  padding: 10px 20px;
  margin-left: 5px;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.product_reviews .review_modal form .review_action_button button.close {
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid rgb(24, 24, 24);
}
.product_reviews .review_modal form .review_action_button button.submit {
  background-color: rgb(0, 91, 165);
  color: white;
  border: 1px solid rgb(0, 91, 165);
}
@media only screen and (max-width: 690px) {
  .product_reviews .review_modal form {
    width: 95%;
    height: 80vh;
  }
}
