.signinpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin {
  display: block;
  margin: auto;
  width: 60%;
  height: 50vh;
  background-color: white;
  padding: 10px;
}
.signin form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signin form h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}
.signin form .input_email {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  margin-top: 5px;
}
.signin form .input_email input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}
.signin form .input_password {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  margin-top: 5px;
}
.signin form .input_password input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}
.signin form .btn_submit {
  margin-top: 10px;
  padding: 10px 0px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.signin form .btn_submit:hover {
  background-color: var(--main-hover-color);
}
.signin form .register_text {
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 740px) {
  .signin {
    width: 90%;
    height: 90vh;
  }
  .signin form h1 {
    font-size: 1rem;
  }
}
