.profile_info {
  height: 100%;
  width: 100%;
  border: 5px solid #ccc;
  border-radius: 5px;
}
.profile_info .image {
  height: 200px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 5px 5px;
  position: relative;
}
.profile_info .image .userimage {
  height: 100px;
  width: 100px;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.profile_info .details {
  margin-top: 10px;
  padding: 10px;
}
.profile_info .details .detail_text {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.profile_info .details .name {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
}
.profile_info .details .name .name_text {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 5px;
}
.profile_info .details .name .user_name {
  font-size: 1rem;
  color: black;
  font-weight: bolder;
}
.profile_info .details .email {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
}
.profile_info .details .email .email_text {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 5px;
}
.profile_info .details .email .user_email {
  font-size: 1rem;
  color: black;
  font-weight: bolder;
}

.profile_info .details .address {
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile_info .details .address .address_text {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 5px;
}
.profile_info .details .address .user_address {
  font-size: 1rem;
  color: black;
  font-weight: bolder;
}
