.productitem {
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;
  background-color: white;
}
.productitem .productitem_header {
  flex-basis: 50%;
  height: 200px;
  width: 100%;
}
.productitem .productitem_header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: inline-block;
}
.productitem .productitem_body {
  height: 150px;
  width: 100%;
  padding: 5px;
}
.productitem .productitem_body .title {
  font-size: 1rem;
  color: #000;
}
.productitem .productitem_body .description {
  font-size: 0.7rem;
}
.productitem .productitem_bottom {
  display: flex;
  flex-direction: row;
  height: 35px;
  width: 100%;
  align-items: center;
}
.productitem .productitem_bottom button {
  height: 100%;
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.productitem .productitem_bottom .btn_buy_now {
  background: rgb(73, 1, 1);
  color: white;
  flex: 1;
  border: 2px solid rgb(0, 255, 221);
  border-radius: 5px;
}
.productitem .productitem_bottom .btn_addtocart {
  background: #fff;
  color: black;
  flex: auto;
  margin-left: 3px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}
