.product_questions {
  width: 100%;
  height: auto;
  padding: 5px;
}
.product_questions .askquestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  width: 100%;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 10px;
}
.product_questions .askquestion .image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: auto;
  margin-left: 10px;
}
.product_questions .askquestion .askquestion_text {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  margin-left: 20px;
  user-select: none;
}

.product_questions .questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_questions .questions .question_box {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.product_questions .questions .question_box .question {
  font-weight: bolder;
  font-size: 1rem;
  margin-bottom: 5px;
}
.product_questions .questions .question_box .question .question_reply_button {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
.product_questions .questions .question_box .answer {
  font-size: 0.9rem;
  font-weight: bold;
}
.product_questions .questions .question_box .answer span {
  font-size: 1rem;
  color: gray;
}

/* modal  */
.product_questions .modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.99);
  z-index: 3;
}
.product_questions .modal form {
  width: 50%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}
.product_questions .modal form .question {
  height: 40px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}
.product_questions .modal form .question input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 5px;
}
.product_questions .modal form .question_action_button {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.product_questions .modal form .question_action_button button {
  padding: 10px 20px;
  margin-left: 5px;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.product_questions .modal form .question_action_button button.close {
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid rgb(24, 24, 24);
}
.product_questions .modal form .question_action_button button.submit {
  background-color: rgb(0, 91, 165);
  color: white;
  border: 1px solid rgb(0, 91, 165);
}
/* reply modal  */
.product_questions .replymodal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.product_questions .replymodal form {
  width: 50%;
  height: 60vh;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product_questions .replymodal form .reply {
  height: 100px;
  width: 95%;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  position: relative;
}
.product_questions .replymodal form .reply textarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
}
.product_questions .replymodal form .reply_action_button button {
  padding: 10px 20px;
  margin-left: 5px;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
.product_questions .replymodal form .reply_action_button button.close {
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid rgb(24, 24, 24);
}
.product_questions .replymodal form .reply_action_button button.submit {
  background-color: rgb(0, 91, 165);
  color: white;
  border: 1px solid rgb(0, 91, 165);
}
@media only screen and (max-width: 690px) {
  .product_questions .modal form {
    width: 95%;
    height: 60vh;
    z-index: 5;
  }
}
