.product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* align-items: center; */
}
.product .product_image_container {
  width: 100%;
  padding: 20px;
  height: max-content;
}
.product .product_image_container .thumbnail_image {
  width: inherit;
  height: 76%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid #000;
  transition: all 0.5s;
}

.product .product_image_container .thumbnail_image:hover {
  opacity: 0.8;
}
.product .product_image_container .image_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.product .product_image_container .image_box::-webkit-scrollbar {
  height: 5px;
}

.product .product_image_container .image_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.product .product_image_container .image_box::-webkit-scrollbar-thumb {
  background-color: white;
}

.product .product_image_container .image_box img {
  height: 100%;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.product .product_image_container .image_box img:hover {
  transform: scale(1.2);
}
.product .product_image_container .image_box .tab_image {
  border: 2px solid #fff;
}

/* /// product detail  */
.product_detail_container {
  background-color: white;
  /* height: 100%;
    width: 100%; */
}
.product_detail_container .action_button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.product_detail_container .action_button button {
  height: 50px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.action_button .btn_now {
  background: var(--main-color);
  width: max-content;
  padding: 0px 20px;
}
.action_button .btn_addtocart {
  background: var(--primary-color);
  flex: auto;
  margin-left: 10px;
}

/* /////// for tabs  */

.product_detail_container .tabs {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.product_detail_container .tabs .tab_header {
  width: 100%;
  display: flex;
  align-items: center;
}
.product_detail_container .tabs .tab_header p {
  padding: 20px 60px;
  background-color: #ddd;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .product {
    grid-template-columns: 100%;
  }
  .product_image_container .thumbnail_image {
    height: 75%;
  }
  .product .product_detail_container {
    padding: 10px;
  }
}
