.productpage {
  display: grid;
  grid-template-columns: 5fr 3fr;
  place-content: center;
  width: 100%;
  margin: auto;
  height: auto;
}
.productpage .images_container {
  height: 450px;
  width: 100%;
  position: relative;
}
.productpage .images_container .image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.productpage .images_container .image .product_image {
  height: 250px;
  width: 350px;
  object-fit: contain;
}
.productpage .images_container .image_slider {
  position: absolute;
  bottom: 1rem;
  display: flex;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: auto;
  border-radius: 5px;
}
.productpage .images_container .image_slider::-webkit-scrollbar {
  display: none;
}
.productpage .images_container .image_slider .slide_image {
  height: 100px;
  width: 160px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 10px;
  object-fit: cover;
  transition: all 0.5s;
  cursor: pointer;
}
.productpage .images_container .image_slider .slide_image:hover {
  background: rgba(0, 0, 0, 0.7);
}
.productpage .images_container .image_slider .slide_image:nth-child(1) {
  margin-left: 10px;
}

/* product details  */
.productdetail_container {
  padding: 1rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.productdetail_container .category_text {
  font-size: 1rem;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.productdetail_container .product_title {
  font-size: 1.5rem;
  color: var(--link-color);
  font-family: var(--roboto-font);
  margin-bottom: 10px;
}
.productdetail_container .description {
  width: 100%;
  height: auto;
  color: var(--text-color);
}
.productdetail_container .description .descriptiontext {
  font-family: var(--roboto-font);
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
.productdetail_container .product_review {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
.productdetail_container .product_review .review_text {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  line-height: 30px;
  margin-right: 10px;
}
.productdetail_container .pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.productdetail_container .pricing .price {
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: bold;
  font-family: var(--roboto-font);
}
.productdetail_container .pricing .originalprice {
  font-size: 1rem;
  font-family: var(--roboto-font);
  color: var(--text-color);
  text-decoration-line: line-through;
}
.productdetail_container .pricing .priceoff {
  font-size: 1rem;
  font-family: var(--roboto-font);
  color: var(--text-color);
  text-transform: uppercase;
}
.productdetail_container .stock {
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.productdetail_container .content {
  font-size: 0.9rem;
  color: var(--text-color);
  width: 100%;
  font-family: var(--roboto-font);
  margin-bottom: 20px;
}
.productdetail_container .addtocart {
  width: 100%;
  padding: 13px 20px;
  text-transform: uppercase;
  border: none;
  background: var(--main-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.productdetail_container .addtocart:hover {
  background: var(--main-hover-color);
}

/* /////// product reviews tabs  */

.product_info_tabs {
  width: 100%;
  min-height: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product_info_tabs .tab_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product_info_tabs .tab_header p {
  padding: 20px 40px;
  margin-left: 5px;
  color: var(--text-color);
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 5px solid var(--secondary-text-color);
}
.product_info_tabs .tab_header p:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.product_info_tabs .tab_header .review_text::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-image: url("https://res.cloudinary.com/sumitkosta/image/upload/v1631111270/nextjs-ecommerce/b4jxx5uk62sbvbsg4qmk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product_info_tabs .tab_header .question_text::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-image: url("https://res.cloudinary.com/sumitkosta/image/upload/v1631111467/nextjs-ecommerce/fzzxj8heihzfogpyuycv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product_info_tabs .tab_header p.active {
  background-color: var(--text-color);
  border-bottom: 5px solid var(--main-color);
}
.product_info_tabs .tab_container {
  width: 80%;
  margin: auto;
}

/* responsive  */
@media only screen and (max-width: 690px) {
  .productpage {
    grid-template-columns: 100%;
  }
  .productpage .images_container .image .product_image {
    height: 250px;
    width: 200px;
  }
  .productpage .images_container .image {
    padding: 0;
  }
  .productpage .images_container .image_slider {
    width: 100%;
  }
  .product_info_tabs .tab_container {
    width: 100%;
    margin: auto;
  }
  .product_info_tabs {
    min-height: 15rem;
  }
}
